.footer {
  color: white;
  background: #2e2e2e;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.done-by ul * {
  padding-bottom: 5px;
}
.done-by ul li a:hover {
  color: rgb(47, 99, 221) !important;
}
.done-by ul li a {
  font-weight: 400;
}

.done-by {
  height: 60px;
}

.container {
  margin-bottom: 0px;
}

.social {
  margin: 5px;
}
