/* body {
  background: linear-gradient(135deg, white, #0093E9);
} */

.bgColor {
  background: #d1ecfa;
}

.intro-logo {
  margin: 5rem 0;
}

.intro p:nth-child(1) {
  font-size: 2.5rem;
  font-weight: bold;
}

.intro p:nth-child(2) {
  font-size: 2.5rem;
}

.intro-text-item {
  margin: 4rem 0;
}

.intro-text-item > * {
  padding: 2.5rem;
  min-height: 3rem;
  align-items: center;
}

.subHead {
  font-size: 3rem;
  font-weight: bold;
}

.item-text {
  font-size: 1.5rem;
  align-self: center;
}
